@using MudBlazor.Utilities
@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" IsDarkMode="true"></MudThemeProvider>

<MudLayout >
    <MudAppBar Elevation="1" Dense="true">
        <MudAvatar Color="Color.Warning" e Variant="Variant.Filled">
            <MudIcon Color="Color.Dark" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Large"/>
        </MudAvatar>

        <h1 class="">Social Coder</h1>
        <MudSpacer></MudSpacer>
        <MudProgressLinear Color="Color.Secondary" BufferValue="@BufferValue" Value="@Value" Style="width: 70px" Class="my-7"/>

        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle"/>

        <div Class="d-flex justify-space-around flex-wrap mt-4">


            <MudBadge Content="100" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                <MudIcon Icon="@Icons.Material.Filled.Face" Color="Color.Default"/>
            </MudBadge>
            <MudBadge Content="3" Overlap="true" Class="mx-6 my-4">
                <MudIcon Icon="@Icons.Material.Filled.Message" Color="Color.Default"/>
            </MudBadge>
            <MudBadge Content="100" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                <MudIcon Icon="@Icons.Material.Filled.Notifications" Color="Color.Default"/>
            </MudBadge>

        </div>

    </MudAppBar>
    <MudDrawer @bind-Open="@_openLeft" Anchor="Anchor.Left" ClipMode="_clipMode" Breakpoint="Breakpoint.Lg" PreserveOpenState="true" Elevation="1" Variant="@DrawerVariant.Mini">
        <MudNavMenu >
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Newspaper">Newsfeed</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.LibraryBooks">Overview</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Group">Groups</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Person">Members</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Badge" Href="Badges">Badges</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.QuestionMark">Quests</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Stream">Streams</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Event">Events</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Forum">Forums</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Settings">Marketplace</MudNavLink>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Size="Size.Medium" Color="Color.Inherit" Edge="Edge.End" OnClick="@ToggleLeftDrawer"/>


        </MudNavMenu>
    </MudDrawer >
    <MudDrawer @bind-Open="@_openRight" Anchor="Anchor.Right" ClipMode="_clipMode" Breakpoint="Breakpoint.Lg" PreserveOpenState="true" Elevation="1" Variant="@DrawerVariant.Mini">
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Newspaper">Newsfeed</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.LibraryBooks">Overview</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Group">Groups</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Person">Members</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Badge">Badges</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.QuestionMark">Quests</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Stream">Streams</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Event">Events</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Forum">Forums</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Filled.Settings">Marketplace</MudNavLink>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Style="position: center" Size="Size.Medium" Color="Color.Inherit" Edge="Edge.End" OnClick="@ToggleRightDrawer"/>


        </MudNavMenu>
    </MudDrawer >
</MudLayout>

@code {
    bool _drawerOpen;
    DrawerClipMode _clipMode = DrawerClipMode.Docked;
    public bool Rtl { get; set; }

    bool _openLeft = false;
    bool _openRight = false;

    void ToggleLeftDrawer()
    {
        _openLeft = !_openLeft;
    }

    void ToggleRightDrawer()
    {
        _openRight = !_openRight;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    /* Progress bar demo

    This will be used for the small xp bar on the appbar. 

    
    */
    private int Value { get; set; }
    public int BufferValue { get; set; }

    public async void SimulateProgress()
    {
        Value = 0;
        BufferValue = 50;
        do
        {
            if (_disposed)
            {
                return;
            }

            Value += 4;
            StateHasChanged();
            await Task.Delay(500);
            BufferValue += 5;
        } while (Value < 100);

        SimulateProgress();
    }

    protected override void OnInitialized() => SimulateProgress();

    bool _disposed;
    public void Dispose() => _disposed = true;

    /* Progress bar demo

    End progress bar  

    */


    readonly MudTheme _theme = new()
    {
        PaletteDark = new()
        {
            Primary = new MudColor("7750f8"),
            Secondary = new MudColor("40d04f"),
            Background = new MudColor("161b28"),
            AppbarBackground = new MudColor("7750f8"),
            TextPrimary = new MudColor("FFF"),
            TextSecondary = new MudColor("9aa4bf"),
            DrawerBackground = new MudColor("1d2333"),
            DrawerText = new MudColor("FFF"),
            Surface = new MudColor("1d2333")
        }
    };



}